{{!< default}}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <main class="error-page content" role="main">
                <h2>Page not found :(</h2>
            </main>
        </div>
    </div>
</div>
